{% extends 'base.html.twig' %}

{%  block title %}Voir les produits{% endblock %}

{%  block body %}

    <h1 class="text-center my-4">Voir les produits</h1>

    <div class="row">
        <div class="col text-center mb-3">
            <a href="{{ path('create_produit') }}" class="btn btn-primary">Ajouter un produit <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>


    <div class="row">
        <div class="col-10 mx-auto">

            <table class="table mb-4">

                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Couleur</th>
                    <th>Taille</th>
                    <th>Collection</th>
                    <th>Photo</th>
                    <th>Prix</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.id }}</td>
                        <td>{{ produit.title }}</td>
                        <td>{{ produit.description }}</td>
                        <td>{{ produit.color }}</td>
                        <td>{{ produit.size }}</td>
                        <td>{{ produit.collection }}</td>
                        <td>
                            <img src="{{ asset('uploads/' ~ produit.photo) }}"
                                 alt="Photo de tee-shirt" width="80" height="58" class="img-thumbnail">
                        </td>
                        <td>{{ produit.price }} €</td>
                        <td>{{ produit.createdAt | date('d/m/Y') }}</td>
                        <td>
                            <a href="#" title="Modifier le produit" class="text-center align-middle text-warning"><i class="fa-solid fa-edit"></i></a>
                            <a href="#" title="Archiver le produit" onclick="return confirm('Voulez-vous vraiment archiver ce produit ?')" class="text-center align-middle text-danger"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>

                {% else %}

                    <tr>
                        <td class="bg-warning text-center align-middle" colspan="10">Aucun produit en ligne</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
